.logo-sidebar{
  max-width: 4.5rem;
  height: auto;
}

aside{
  background: linear-gradient(25deg, rgb(45, 86, 223), #aebdeb);
}

.formBackground {
  background: linear-gradient(5deg, rgb(149, 174, 255), #d6e0fd);
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
  padding: 15px;
}

.tab-content .tab-pane {
  background-color: #FFF;
  height: auto;
}